* {
  font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #004242;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 67px;
  z-index: 10;
  text-align: center;
  background-color: #004242;
  color: whitesmoke;
  display: grid;
}

.header-main {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #004242;

}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  margin-right: 5vw;
}

.menu.active {
  display: flex;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: block;
  color: white;
  text-align: right;
  padding: 0.5vw 2vh;
  text-decoration: none;
}

.menu a:hover {
  background-color: #feffff;
  transition: background-color 0.3s ease-in-out;
  color: #12202c;
  border-radius: 1vw;
}

.header-text {
  margin: 0;
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.vicharaka_logo {
  margin-left: 20px;
}


main {
  width: calc(100% - 20px);
  margin: auto;
  max-width: 1200px;
  display: block;
}
.title-text {
  min-height: 100vh;
  display: grid;
}

.img-details-pair {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding: 10px;
}

.team-desc {
  padding: 5px;
  color:white;
  font-size: large;
  font-weight: 450;
 
}

@media (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      background-color: #004242;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
  }
  .menu.active {
      display: flex;
      align-items: center;
  }
  .menu li {
      margin: 5px;
      width: 90%;
  }
  .menu li a {
    text-align: center;
    padding: 5px;
  }

  .menu-icon {
      display: flex;
      align-self: auto;
  }
}

footer {
  background-color: rgb(1, 33, 36);
  color: white;
  margin: 50px 0 0 0;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  box-shadow: 8px 0px 16px 0px #002b2b;
}

.footer-link, .footer-link:visited {
  color: aliceblue;
}
.footer-link:hover {
  color: #f1f1f1;
  text-decoration: none;
}
