* {
  font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #004242;
}

html {
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  text-align: center;
  background-color: #004242;
  color: whitesmoke;
  padding: 10px;
  display: grid;

}

.header-main {
  align-self: center;
  display: flex;
  align-items: center;
}
.header-main ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  margin-right: 5vw;
  margin-block: 0;
}
.header-main li{
  display: inline-block;
}
.header-main li a{
  display: block;
  color: white;
  text-align: right;
  padding: 0.5vw 2vh;
  text-decoration: none;
}
.header-main li a:hover{
  background-color:#feffff;
  transition: background-color 0.3s ease-in-out;
  color: #12202c;
  border-radius: 1vw;
}

.header-text {
  margin: 0;
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.vicharaka_logo {
  margin-left: 20px;
}


main {
  width: calc(100% - 20px);
  margin: auto;
  max-width: 1200px;
  display: block;
}
.title-text {
  min-height: 100vh;
  display: grid;
}

.img-details-pair {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding: 10px;
}

.team-desc {
  padding: 5px;
  color:white;
  font-size: large;
  font-weight: 450;
 
}

@media screen and (max-width: 600px) {
  .img-details-pair {
    flex-direction: column;
  }
  
}

footer {
  background-color: rgb(1, 33, 36);
  color: white;
  margin: 50px 0 0 0;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  box-shadow: 8px 0px 16px 0px #002b2b;
}