.footer-link, .footer-link:visited {
    color: aliceblue;
}
.footer-link:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.title-text{
    background-image: url(../img/cover2.png);
    background-size: cover;
    /* min-width: 187vh; */
    /* max-height: 20vh; */
    min-height: 104vh;
}
#about{
    padding: 50px 25px;
    clear: both;
    overflow: auto;
}
.about-content,
#about img {
  width: 30%;
  float: left;
}

.about-content {
  width: calc(50% - 20px);
  padding: 0.5vw 10vh; 
  text-align: justify;
  margin-bottom: 25px;
  color: white;
}
.title{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}
.title1{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    color: #004242;
}
.Sponsor{
    background-color: #ffffff;
    min-height: 30vh;
    align-items: center;
    padding: 50px 25px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     
}
.Sponsor .images img{
    width: calc(40% - 15px); /* Adjust the width as needed */
    height: auto;
    padding: 0.5vw 5vh;
}
/* .Sponsor img{
    width: 50%;
} */
.button{
    clear: both;
    display: block;
    margin: auto;
    background-color: white;
    color: #004242;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-top: 25px;
    width: 200px;
    text-align: center;
    transition: 0.3s all;
}
.button:hover{
    background-color: #036e6e;
    color: white;
    scale: 1.1;
}
p{
    font-size: 1.2em;
}
#contact{
    overflow: hidden;
    padding: 50px 0px;
  }
  
  #contactDetails{
    display: block;
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    color: #036e6e;
    align-items: center;
    width: calc(40%);
    margin: auto;
  }
  
  #contactDetails > a{
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    display: flex;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  #contactDetails > a:hover{
    background-color: #036e6e;
    color: white;
  }
  
  #contactDetails .socials{
    display: flex;
    flex-direction: row;
  }
  #contactDetails .socials a{
    width: calc(100% / 4);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contactDetails .socials a:hover{
    opacity: 0.8;
  }
  #contactDetails .socials a img{
    width: 32px;
    height: 32px;
  }
  
  #contactDetails .socials a.facebook{
    background-color: #1877f2;
  }
  #contactDetails .socials a.instagram{
    background-color: #e1306c;
  }
  #contactDetails .socials a.linkedin{
    background-color: #007ab9;
  }
  #contactDetails .socials a.github{
    background-color: #000;
  } 
  
  @media (max-width: 768px){
    /* main{
        margin: 0;
        min-width: 95vh;
    } */
    .title-text{
        background-image: url(../img/cover1.jpg);
        background-size: cover;
        min-height: 100vh;
        text-align: center;
        font-size: 4rem;
        color: #ffffff;
        min-height: 100vh;
        align-items: center;
        font-weight: 700;
    }
    
    #about{
        padding: 50px 10px;
        clear: both;
        overflow: auto;
    }
    .about-content,
    #about img {
      width: 30%;
      align-items: center;
    }
    
    .about-content {
      width: auto;
      padding: 0.5vw 1vh;
      text-align: justify;
      margin-bottom: 25px;
      color: white;
    }
    .title,.title1{
        font-size: 40px;
    }
    
    .button{
        font-size: 2rem;
        width: calc(50% - 20px);
    }
    #contact{
        overflow: hidden;
        padding: 50px 0px;
      }
      
      #contactDetails{
        display: block;
        box-sizing: border-box;
        background-color: white;
        margin: 0;
        color: #036e6e;
        align-items: center;
        width: calc(100%);
        margin: auto;
      }
      .Sponsor .images img{
        width: calc(60% - 15px); /* Adjust the width as needed */
        height: auto;
        padding: 0.5vw 5vh;
    }
    .mars{
      display: none;
    }
    .button:hover{
      background-color: #036e6e;
      color: white;
      scale: 1.2;
      
  }
      
  }
