.title-text {
    text-align: center;
    font-size: 20px;
    color: #000000;
    align-items: center;
    font-weight: 500;
    min-height: 30vh;
    display: grid;
}

.title-text .img {
    width: calc(100% - 20px);
    margin: 0 auto;
}

body {
    background-color: white;
}

@media (max-width: 768px) {
    .title-text .img img {
        max-width: 100%; /* Set the maximum width to 100% for the image */
        height: auto; /* Allow the image to maintain its aspect ratio */
    }
}

#table {
    margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.footer-link, .footer-link:visited {
    color: aliceblue;
}
.footer-link:hover {
    color: #f1f1f1;
    text-decoration: none;
}