.text{
    text-align: center;
    font-size: 27px;
    color: white;
    display: grid;
    align-items: center;
    font-weight: 700;
    min-height: 10vh;
    background-color: #004242;
    margin-top: 2vw;
}
.text h1{
    position: relative;
}
.title-text{
    background-image: url(../img/team2.jpg);
    background-size: cover;
    min-height: 100vh;
}

.footer-link, .footer-link:visited {
    color: aliceblue;
}
.footer-link:hover {
    color: #f1f1f1;
    text-decoration: none;
}
.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}
.contact-box{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.detail{
    padding: 2.5vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.personname {
    color: white;
    padding-top: 20px;
    transition: 0.3s all;
    position: relative;
    transition: 0.3s all;
    top: 0;
    max-width: 13vw;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.det1{
    background-image:url(../img/pushpak.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det2{
    background-image:url(../img/pandu.jpeg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det3{
    background-image:url(../img/people/koushik.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det4{
    background-image:url(../img/people/rajesh.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det5{
    background-image:url(../img/people/sidak.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det6{
    background-image:url(../img/people/sahil.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.det7{
    background-image:url(../img/people/aditya.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.dhruv{
    background-image:url(../img/people/dhruv.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.nithin{
    background-image:url(../img/people/nithin.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.sathvik{
    background-image:url(../img/people/sathvik.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.indu{
    background-image:url(../img/people/indrayudh.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.mohar{
    background-image:url(../img/people/mohar.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.armaan{
    background-image:url(../img/people/armaan.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.pratyush{
    background-image:url(../img/people/pratyush.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.pratham{
    background-image:url(../img/people/pratham.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.sirjan{
    background-image:url(../img/people/sirjan.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.shisir{
    background-image:url(../img/people/shishir.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.kalpesh{
    background-image:url(../img/people/kalpesh.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.pritesh{
    background-image:url(../img/people/pritesh.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.sanyat{
    background-image:url(../img/people/sanyat.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;


}
.kalyan{
    background-image:url(../img/people/kalyan.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.Bharadwaj{
    background-image:url(../img/people/Bharadwaj.png);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.Databased{
    background-image:url(../img/people/databased.png);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.Sayak{
    background-image:url(../img/people/sayak.png);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.Mehul{
    background-image:url(../img/people/mehul.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.Bhuvan{
    background-image:url(../img/people/bhuvan.png);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.sharath{
    background-image:url(../img/people/sharath.JPG);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;
}
.pranav{
    background-image:url(../img/people/pranav.JPG);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.suhas{
    background-image:url(../img/people/suhas.JPG);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.RDX{
    background-image:url(../img/people/rdx.png);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.Sohan{
    background-image:url(../img/people/sohan.jpg);
    background-size : cover;
    width:13vw;
    height:13vw;
    border-radius: 100%;

}
.detail:hover {
    transform: scale(1.1);
    transition: 0.3s all;
    top: -10px;
    transition: 0.3s all;
}

@media screen and (orientation: portrait){
    .title-text{
        display: none;
    }
    /* .text{
        margin-top: 5vw;
    } */
   .personname{
        font-size: 1em;
        max-width: 30vw;
        font-weight: lighter;
   }
   .det1,.det2,.det3,.det4,.det5,.det6,.det7,.dhruv,.nithin,.sathvik,.indu,.mohar,.armaan,.pratyush,.pratham,.shisir,.kalpesh,.pritesh,.sanyat,.kalyan,.sirjan,.Bharadwaj{
    width: 30vw;
    height: 30vw;
   }
   .text{
         font-size: 20px;
         margin-top: 10vw;
   }
    
   
    
}
